[Desktop Entry]
Categories=Network;WebBrowser;
Encoding=UTF-8
Name=VPick
GenericName=Virtual Machine Viewer
Exec=vpick
Icon=vpick
Path=
Type=Application
Terminal=false
