*~
*.buildinfo
*.changes
*.deb
*.ddeb
*.dsc
*.o
*.spec
*.tar.xz
*.rpm
*.tar.gz
.deps
aclocal.m4
autom4te.cache
build_debs.sh
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
Makefile
Makefile.in
missing
moc_*
conf/virt-viewer-settings
debian/changelog
debian/control
src/vpick